/* Styles the body (setting font style) */
body {
    font-family: Arial;
}

.axis path, .axis line {
    fill: none;
    shape-rendering: crispedges;
    stroke: #000000;
}

/* Centers all elements with the class "centered" */
.centered {
    text-align: center;
}

/* COLUMNS ARE JUST USED TEMPORARILY AND MAY BE REMOVED TO MAKE OUR TOOL MORE VISUALLY 
APPEALING */

/* Creates a flex container to make 2 columns */
.container {
    display: flex;
    flex-direction: row;
}

.child1{
    width:20%;
}

.child2{
    width:80%;
    text-align: center;
}

/* Creates a flex container to make 2 columns */
.lineAndScatter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Style vis1 */
.vis1{
    flex-direction: row;
    flex-wrap: wrap;
    width:45%;
    justify-content: center;
}

/* Style vis2 */
.vis2{
    flex-direction: row;
    flex-wrap: wrap;
    width:45%;
    justify-content: center;
}



/* Creates a flex container to make 2 columns */
.link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Style link1 (contains a bar chart)*/
.link1{
    flex-direction: row;
    flex-wrap: wrap;
    width:45%;
    justify-content: center;
}

/* Style link2 (contains a scatter chart)*/
.link2{
    flex-direction: row;
    flex-wrap: wrap;
    width:45%;
    justify-content: center;
}

.yearfilter2 {
    flex-direction: row;
    flex-wrap: wrap;
    width:10%;
    justify-content: center;
}

}

/* Style vis3 */
#vis3 {
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}


/* Adjusts the style of selected circles/areas */
.selected {
    fill-opacity: 100%;
    opacity: 100%;
    stroke: blue;
    stroke-width: 3px;
}

/* Sets style of tooltip */
.tooltip {
    position: absolute;
    background-color: mediumpurple;
    border: solid;
    padding: 5px;
}

/* Style for axis labels */
.axes {
    fill: black;
    text-anchor: middle;
    font-size: 12px;
}

#map { 
    height: 500px; 
}

